footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.footer-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.footer-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
}

.footer-content {
    width: 100%;
    /* background-color: blue; */
    display: flex;

}

.footer-content-1,
.footer-content-2,
.footer-content-3 {
    width: calc((100% / 3) - 40px);
    /* background-color: red; */
    padding: 50px 20px;
    position: relative;
    z-index: 3;
}

/* .footer-all-content{

} */

.footer-all-content img {
    height: 100px;
}

.footer-all-content p {
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 16px;
    color: white;
}

.footer-all-content ul li {
    list-style: none;
}

.footer-all-content ul li i {
    margin-right: 10px;
}

.footer-all-content h2 {
    color: white;
    font-family: sans-serif;
}

.footer-content-2 {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

.footer-content-2 ul li {
    margin-top: 20px;
}

.footer-content-2 ul li a {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
text-transform: uppercase;
}

.footer-content-3 ul {
    margin-top: 10px;
}

.footer-content-3 ul li {
    display: inline-block;
}

.footer-content-3 ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media(max-width:992px) {
    .footer-content-3 ul li a {
        width: 30px;
        height: 30px;
    }
}

.footer-content-3 ul li a i {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    font-size: 20px;
    color: white;
}


.footer-content-3 ul li:nth-child(1) a {
    background-color: #4267B2;
}

.footer-content-3 ul li:nth-child(2) a {
    background-color: #1DA1F2;
}

.footer-content-3 ul li:nth-child(3) a {
    background-color: #C13584;
}

.footer-content-3 ul li:nth-child(4) a {
    background-color: #E60023;
}

.footer-content-3 ul li:nth-child(5) a {
    background-color: #25D366;
}

.footer-content-3 ul li a:hover {
    background: transparent;
}


.footer-news {
    margin-top: 20px;
}

.footer-news input {
    width: calc(100% - 20px);
    height: 45px;
    border: none;
    margin-top: 10px;
    padding: 0 10px;
    outline: none;
}

.footer-news button {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    background-color: #0a0494;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:992px) {
    .footer-content {
        display: block;
    }

    .footer-content-1,
    .footer-content-2,
    .footer-content-3 {
        width: calc(100%);
        padding: 30px 0;
        justify-content: left;
    }
}